# ---------- Gradle ----------
.gradle/
build/

# ---------- IDE / OS ----------
.idea/
*.iml
.DS_Store

# ---------- Android / NDK ----------
/captures
.externalNativeBuild
.cxx

# ---------- Локальные конфиги ----------
local.properties

# ---------- Подпись / keystore ----------
*.jks
*.keystore
*.keystore.base64

# ---------- Секреты ----------
key.properties
secrets.properties
*.env
.env.*