*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Ключи и сертификаты — не коммитим
release.keystore
release.keystore.base64
release_certificate.pem